/**
 * Global CSS styles
 */

@import '../design-system/foundations/reset.css';
@import '../design-system/foundations/base.css';
@import '../design-system/foundations/typography.css';
@import '../design-system/foundations/utilities.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
